/* Slideshow container */
.slideshow-container {
 position: relative;
 background: #f1f1f1f1;
}

/* Slides */
.mySlides {
 padding-top: 10px;
 display: none;
 padding: 70px;
 text-align:center;
}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 margin-top: -30px;
 padding: 16px;
 color: #888;
 font-weight: bold;
 font-size: 20px;
 border-radius: 0 3px 3px 0;
 user-select: none;
}

/* Position the "next button" to the right */
.next {
 position: absolute;
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
 color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
 text-align: center;
 padding: 20px;
 background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
 background-color: #717171;
}


/* Add a blue color to the author */
.lesson {color: cornflowerblue;}
.mySlides table tr td {
   background-color:#FFFFFF;
   border-radius: 20px;
   margin: 20px;
   text-align: left;
   padding-left:30px;
   padding-right: 80px;

   padding-top: 10px;
   padding-bottom: 10px;
}
.mySlides table tr td:hover{
 color:#130f40;
}
.mySlides table tr td:hover{
 background-color:#c7ecee;
}
.mySlides table tr td a {
 text-decoration: none;
 font-size: 20px;
 color:#797979;
}
.menu-container{
  display: flex;
  align-items:left;
  padding-top: 5px;

}
.menu-container>div{
  height:20px;
  width: 300px;
  margin: 1em;
  font-size: 20px;
  text-align: left;
}
/*css for fixed Rating*/
.checked {
  color: orange;
  opacity:1;
}
