body{
  font-family: arial;
}
.container{
  background: #eee;
  width: 700px;
  margin: 70px 0 0 50px;

  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: 100px 100px;
  grid-gap: 20px;
}
.items1{
  background: red;
  grid-area: 2/1/3/2;
}
.items2{
  background: yellow;
}
.items3{
  background: blue;

}
.items4{
  background: green;


}
.items5{
  background: black;
}
.items6{
  background: pink;


}
